.img-brand{
  width: auto; /* you can use % */
  height: 50px;
  display: inline;
}

.navbar {
  margin-bottom: 0px;
  border-bottom-width: 0px;
  min-height: 60px;
  max-height: 60px;
}

.navbar-collapse {
  background: white;
}

.navbar-brand {
  color: black !important;
  font-size: 30px;
  padding: 5px;
}

.navbar-nav li a {
  line-height: 30px;
}

.navbar-nav li a:hover{
  background: #e2e2e2 !important;
}

.navbar-header {
  height: 60px;
}

.navbar-toggle {
  height: 45px;
}

.jumbotron{
  padding: 200px;
  background: url(http://pcwallart.com/images/miami-skyline-at-night-wallpaper-3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
}

.transparency{
  background-color: black;
  opacity: 0.5px;
  
}

.jumbo-main{
  font-size: 50px !important;
  color: white;
  text-shadow: 5px 0 5px black, 0 5px 5px black, 5px 0 5px black, 0 5px 5px black;
}

.jumbo-sub{
  color: white;
  text-shadow: 5px 0 5px black, 0 5px 5px black, 5px 0 5px black, 0 5px 5px black;
}

.btn-default {
  padding: 10px 30px;
}