/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
*/

.img-brand{
  width: auto; /* you can use % */
  height: 50px;
  display: inline;
}

.navbar {
  margin-bottom: 0px;
  border-bottom-width: 0px;
  min-height: 60px;
  max-height: 60px;
}

.navbar-collapse {
  background: white;
}

.navbar-brand {
  color: black !important;
  font-size: 30px;
  padding: 5px;
}

.navbar-nav li a {
  line-height: 30px;
}

.navbar-nav li a:hover{
  background: #e2e2e2 !important;
}

.navbar-header {
  height: 60px;
}

.navbar-toggle {
  height: 45px;
}

.jumbotron {
  padding: 200px 100px 400px 100px;
  margin: 0px;
  background: url(http://pcwallart.com/images/miami-skyline-at-night-wallpaper-3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
}

.jumbotron2 {
  padding: 200px 100px 400px 100px;
  margin: 0px;
  background: url(/resources/wynwood-wall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
}

.about-me-text {
/*  height: 100px;*/
/*  width: auto;*/
  padding: 200px 50px 200px 50px;
  margin: 0px;
  background: white; 
}

@media (max-width: 768px) {
  .media-object{
    display: none;
  } 
}

/*
.about-me-picture {
  padding: 10% 10% 10% 10%;
  padding: 50px 50px 50px 100px;
}
*/

/*
.transparency{
  background-color: black;
  opacity: 0.5px;
  
}
*/

.jumbo-main-center{
  font-size: 50px !important;
  color: white;
  text-shadow: 5px 0 5px black, 0 5px 5px black, 5px 0 5px black, 0 5px 5px black;
}

.jumbo-sub-center{
  color: white;
  text-shadow: 5px 0 5px black, 0 5px 5px black, 5px 0 5px black, 0 5px 5px black;
}

.jumbo-main-left{
  font-size: 50px !important;
  color: white;
  text-shadow: 5px 0 5px black, 0 5px 5px black, 5px 0 5px black, 0 5px 5px black;
}

.jumbo-sub-left{
  color: white;
  text-shadow: 5px 0 5px black, 0 5px 5px black, 5px 0 5px black, 0 5px 5px black;
}

.btn-default {
  padding: 10px 20px;
}

.btn-social {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0;
}

.black-opacity{
  background-color: rgba(0,0,0,0.5);
}

.img-thumbnail {
  border-radius: 0;
}

figure {
  overflow: hidden;
}

/* Shadow on Hover */
.hover-shadow {
  
}

/* Blur on Hover */
.hover-blur {
	-webkit-filter: blur(0);
	filter: blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-blur:hover {
	-webkit-filter: blur(1px);
	filter: blur(1px);
}

/* Zoom In on Hover */
.hover-zoom {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-zoom:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* Shine on Hover */
.hover-shine {
	position: relative;
}
.hover-shine::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover-shine:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}